/*boxes*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*background color of the page*/
body {
    background-color: #d9dcd6;
}
/*controls all images on the page*/
img {
    width: auto;
    max-height: 100%;
}
/*comment*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*comment*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Changes the color of the portion of the company name*/
.header h1 .seo {
    color: #d9dcd6;
}
/*comment*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*comment*/
.header div ul {
    list-style-type: none;
}
/*comment*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*comment*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*comment*/
p {
    font-size: 16px;
}
/*comment*/
.hero {
    /*height: 800px; */
    height: 820px;
    margin-bottom: 25px;
    width: auto;
    max-height: 100%;
    /*background-image: url("../images/digital-marketing-meeting.jpg"); */
    /*background-size: cover; */
    /*background-position: center; */

}
/*comment*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*comment*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*comment*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*comment*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*comment*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*comment*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*comment*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*comment*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*comment*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*comment*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*comment*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*comment*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*comment*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*comment*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*comment
.digital-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
} */

/*comment*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*comment*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*comment*/
.search-engine-optimization img {
    max-height: 200px;
}
/*comment*/
.online-reputation-management img {
    max-height: 200px;
}
/*comment*/
.social-media-marketing img {
    max-height: 200px;
}
/*comment*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*comment*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*comment*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*comment*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*comment*/
.footer h2 {
    font-size: 20px;
}
